/**
 * Colors
 */

$c-primary:     #5494F5;
$c-secondary:   #8CD6DB;

$c-main:        #1F1C1C;
$c-grey:        #B5B5B5;
$c-grey-dark:   darken(#8B8B8B, 5%);
$c-grey-medium: #EBEBEB;
$c-grey-light:  #FBFBFB;
$c-red:         #C91717;