.form-sale{
    padding-top: 3rem;

    &__main{
        @include wrap;
    }

    &__form{
        display: flex;
        flex-direction: column;
        align-self: flex-end;

        .button{
            align-self: flex-end;
        }
    }
}