.home{
    position: relative;
    width: 100%;
    height: 100vh;

    @include after{
        @include background-image("home-bg.svg", cover, bottom, $p_svg);
        width: 100%;
        height: 65%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -5;
    }

    &__main{
        @include wrap($container-wrap-small);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: -4rem;
    }

    &__item{
        width: calc(50% - 4rem);
        margin: 2rem;
    }

    &__link{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 21rem;
        border-radius: 1rem;
        background-color: white;
        box-shadow: 0 0 2.4rem rgba(black, .15);
        @include transition;

        font-size: 2.2rem;
        color: $c-primary;
        font-weight: 700;

        @include event{
            box-shadow: 0 0 2.4rem rgba(black, .05);
        }
    }

    .card-home:last-child{
        margin-top: 16rem;
    }
}