.form-input{
    width: 100%;
    border: 1px solid rgba($c-grey, .6);
    padding: 2rem 2rem;
    border-radius: .5rem;
    outline: none;

    &::placeholder{
        color: $c-grey;
    }

    &:focus{
        border: 1.5px solid $c-primary;
    }
}