.form-delete{
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(2rem, -50%);
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    background-color: $c-grey-medium;
    cursor: pointer;
    @include transition;

    @include before{
        width: 2.6rem;
        height: 2.6rem;
        background-image: url($p_svg + "cross.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.32);
    }

    @include event{
        background-color: $c-red;
    }
}