/**
 * Background image
 * Usage:
 * @include background-image("file.jpg", cover, top);
 */

@mixin background-image($file, $size:cover, $position: center, $path : $p_svg) {
    background-image: url($path + $file);
    background-size: $size;
    background-position: $position;
    background-repeat: no-repeat;
}
