body, .body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    @apply
    font-main
    font-normal
    text-base
    text-main
    leading-relaxed

    m-0
    overflow-x-hidden
    bg-grey-800
    ;

    &.has-no-scroll {
        @apply overflow-hidden;
    }
}
