.button{
    background-color: $c-primary;
    border: none;
    border-radius: 5px;
    padding: 1.4rem 3.4rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    @include transition(400ms, all, ease-in-out);
    outline: none;

    @include before{
        width: 0;
        height: 0;
        padding: 60%;
        background-color: darken($c-primary, 8%);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
        @include transition(800ms, all, cubic-bezier(0.25, 1, 0.5, 1));
    }

    &:hover{
        transform: scale(1.03);
        box-shadow: 0 0 26px rgba(black, .25);
        &:before{
            transform: translate(-50%, -50%) scale(1);
        }
    }

    &__label{
        position: relative;
        z-index: 10;
        font-size: 1.4rem;
        font-weight: 700;
        color: white;
    }
}


/* Border */
.button._border{
    background-color: transparent;
    border: 1px solid $c-primary;

    &:hover{
        border-color: darken($c-primary, 8%);

        &:before{
            transition-duration: 1000ms;
        }

        .button__label{
            color: white;
        }
    }

    .button__label{
        color: $c-primary;
    }

    &.is-disable{
        border-color: $c-grey;

        &:before{
            background-color: $c-grey;
        }

        &:hover{
            border-color: darken($c-grey, 8%);

            .button__label{
                color: white;
            }
        }

        .button__label{
            color: $c-grey;
        }
    }

    &.is-completed{
        background-color: $c-primary;

        .button__label{
            color: white;
        }
    }
}