.card-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 7rem;
    background-color: white;
    border-radius: 1.4rem;
    box-shadow: 0 0 2.2rem rgba(black, .2);
    min-width: 26rem;

    &__title{
        font-size: 2.4rem;
        line-height: 1;
        color: $c-primary;
        margin: 0 0 3rem 0;
    }

    &__bills{
        font-size: 3.8rem;
        line-height: 1;
        font-weight: 700;
        color: $c-primary;
        position: relative;

        @include before{
            position: absolute;
            top: 50%;
            left: -2rem;
            transform: translate(0, -50%);
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 8px solid $c-primary;
        }
    }

    &__purchase{
        font-size: 2.8rem;
        line-height: 1;
        font-weight: 700;
        margin-top: 1rem;
        position: relative;

        @include before{
            position: absolute;
            top: 50%;
            right: -2rem;
            transform: translate(0, -50%);
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 8px solid $c-main;
        }
    }

    &__htva{
        color: $c-grey-medium;
        margin: 0 0 0 0;
    }
}