.listing{
    margin-top: 4rem;

    &__head{
        margin-bottom: 2rem;
        padding: 0 1rem;

        .listing__label{
            font-weight: 700;
        }
    }

    &__item{
        padding: 1rem;
        @include not-last-child{
            margin-bottom: 1rem;
        }

        &:nth-child(2n){
            background-color: $c-grey-light;
        }
    }

    &__label{
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.3;
    }
}