.title{
    font-family: $f-main;
    margin: 0;
    font-size: 3.2rem;
    line-height: 1.2;
    font-weight: 300;

    &._regular{
        font-weight: 400;
    }

    &._bold{
        font-weight: 700;
    }

    span{
        font-weight: 700;
        color: $c-primary;
    }
}